.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li + li {
    margin-left: 5px;
}