
.button {
  padding: 10px 15px;
  background-color: blueviolet;
  border: 3px solid #000;
  border-radius: 5px;

  cursor: pointer;
  transition: 300ms all ease-in-out;
}

.button:hover {
  filter: brightness(1.2);
}